.places {
  max-width: 984px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}
@media (max-width: 768px) {
  .places {
    min-width: min-content;
    max-width: 720px;
  }
}
@media (max-width: 425px) {
  .places {

  }
}

