.lead {
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 92px;
}
@media (max-width: 1280px) {

}
@media (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}
@media (max-width: 768px) {
  .lead {
    max-width: 100%;
    padding-bottom: 88px;
  }
}
@media (max-width: 425px) {
  .lead {
    max-width: 100%;
    padding-bottom: 64px;
  }
}
