.header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  padding: 28px 48px 56px 48px;
}
@media (max-width: 1024px) {
  .header {
    padding: 28px 48px 48px 48px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 28px 24px 48px 24px;
  }
}
@media (max-width: 425px) {
  .header {
    padding: 5% 5% 48px 5%;
  }
}

