.lead__subtitle {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 64px;
}
@media (max-width: 1024px) {
  .lead__subtitle {
    padding: 0 192px 56px 192px;
  }
}
@media (max-width: 768px) {
  .lead__subtitle {
    padding: 0 64px 56px 64px;
  }
}
@media (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding: 0 5% 40px 5%;
  }
}
