.place {
  display: grid;
  grid-template-rows: 152px minmax(auto, 460px);
  grid-template-columns: minmax(auto, 460px) 484px;
  gap: 48px 40px;
}
.place:not(:last-child) {
  padding-bottom: 80px;
}
@media (max-width: 1280px) {
  .place {

  }
}
@media (max-width: 1024px) {
  .place {
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-columns: minmax(auto, 440px) minmax(auto, 456px);
    gap: 48px 32px;
    min-height: min-content;
  }
  .place:not(:last-child) {
    padding-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .place {
    /* grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content); */
    grid-template-columns: minmax(auto, 340px) minmax(auto, 340px);
    gap: 48px 28px;
  }
  .place:not(:last-child) {
    padding-bottom: 73px;
  }
}
@media (max-width: 425px) {
  .place {
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) 100vw minmax(min-content, max-content);
    grid-template-columns: 100vw;
    gap: 10vw;
  }
  .place:not(:last-child) {
    padding-bottom: 15.625%;
  }
}
